.git/
# do not publish ts source files to npm,
# we have github for that
src

# for npm
node_modules/
npm-shrinkwrap.json
npm-debug.log

# misc
example/
.gitignore
.editorconfig

coverage
test
**/spec
.circleci
.eslintrc.js
prettier.config.js
